/* src/components/Introduction.css */

.introduction {
    text-align: center;
    margin-top: 2rem;
  }
  
  .introduction img {
    max-width: 45%; /* Adjust the size of the profile picture */
    height: auto;
    border-radius: 50%;
    vertical-align: middle; /* Align the image vertically */
    box-sizing: border-box;

  }
  
  .introduction h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .introduction p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
    margin-top: 1rem;
  }
  
  